@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');


html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  color: #3f454d;
  animation: fadein 3s;
}

a {
  text-decoration: none;
  color: #3f454d !important;
}

a :hover {
  text-decoration: none;
}

*:focus{outline:none;}




body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fafafa
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fafafa
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

h2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

h3{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: linear-gradient( to bottom, #ffa6a9, #ffe3a3, #ffffff );
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: 'Cookie', cursive !important;
  font-size: 3rem;
  padding-top: 15px;
  transition: top 0.2s ease-in-out;
}

.nav-bar{
  display: flex;
  align-items: center;
  flex: flex-grow;
  justify-content: center;
  font: 1rem sans-serif;
  font-size: 0.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(238, 238, 238);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.main-container {
  display: flex;
  height: 100%;
  padding-bottom: 80px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar > button {
margin: 10px;
text-decoration: none;
padding: 5px;
font-size: 1rem;
border: 0px;
}

.list-container {
  display: flex;
  flex-direction: column;
  font: 1rem sans-serif;
  font-size: 0.7rem;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.MyFridge-container {
  display: flex;
  flex-direction: column;
  font: 1rem sans-serif;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: center;
}

.getRecipe-button{
  margin-top: 20px;
  padding: 10px;
  width: 40%;
  border-radius: 150px;
  border: none;
  background-color: rgb(123, 185, 255);
  justify-content: centers;
}

.getRecipe-button:hover {
  background-color: rgb(92, 166, 250);
  transition: 0.3s;
}

.MyRecipe-container {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: center;
}

.Recipes-container {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 100px;
  justify-content: center;
}

.button-div{
  padding: 0px !important;
  margin: 0px !important;
}