.home-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100%;
  padding: 20px;
}

.piechart{
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}

.soon-to-be-expired {
  display: flex;
  flex-wrap: wrap;
  padding:20px;
  background-color:  #ffffff;
  box-shadow: 5px 5px 2.5px #f0f0f0;
  justify-content: center;
  margin-top: 10px;
}


.item-selectbox {
  background-color: #fff7ba;;
  margin: 5px;
  font-size: 1.2em;
  color: #3f454d;
  border-radius: 15px;
  border-color: #ffffff00;
}

.item-selectbox:hover {
  background-color: #ffe894;
  height: 33px;
  transition: 0.8ms;
}

.getRecipes {
  width: 50vw;
  height: 30px;
  border-radius: 150px;
  border-color: #ffffff00;
  align-self: center;
  margin-top: 20px;
}

.getRecipes:hover {
  width: 55vw;
  background-color: #c4c4c4;
  transition: 0.8ms;
}