.list-container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font: 1rem sans-serif;
  font-size: 0.7rem;
  height: 100vmax;
  width: 100vmax;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  font: 1rem sans-serif;
  font-size: 0.7rem;
}


