/* input[id='ing-checkbox'] {
  display: none;
}

input[id='ing-checkbox'] + label {
  display: inline-block;
	width: 20px;
	height: 20px;
	border: 0px;
  cursor: pointer;
  position: relative;
  top: 1.5px;
  left: -2px;
  background-color: #dfdfdf;
  margin-right: 5px;
}

input[id='ing-checkbox']:checked + label {
background-color: #ffa6a9;
border-radius: 150px;
} */

.checkbox{
  margin-right: 10px;
  border: none;
}


.item-div{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  font-size: 1.5rem;
}

.detail {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  justify-content: space-between;
}
